* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    
    margin: 0 auto;
}

#topo {
    height: 150px;
    padding-top: 25px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
}

.logo {
    text-indent: -3000px;
    background: url(../img/logo.png) no-repeat left top;
    height: 66px;
    width: 152px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../img/divisor.png) no-repeat right center;
}

#topo ul .none a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;

}